.active {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 40px);
  .errMessage {
    display: block;
    padding: 20px;
    width: 260px;
    border-radius: 5px;
    text-align: center;
    background: crimson;
    color: white;
  }
  .successMessage {
    display: block;
    padding: 20px;
    width: 260px;
    border-radius: 5px;
    text-align: center;
    background: green;
    color: white;
  }
}
