.login__form {
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 5px;
    width: 50%;
    box-shadow: -3px 3px 11px 0px
      rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -3px 3px 11px 0px
      rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -3px 3px 11px 0px
      rgba(0, 0, 0, 0.75);

    .form__input {
      display: flex;
      flex-direction: column;

      label {
        font-size: 15px;
        font-weight: 500;
      }
      input {
        width: 100%;
        padding: 10px 7px;
        border: 1px solid rgba(0, 0, 0, 0.4);
        outline: none;
        border-radius: 3px;
        margin: 5px 0px 20px 0px;
      }
    }

    .btn {
      width: 120px;
      padding: 10px 25px;
      border: none;
      background-color: teal;
      font-size: 15px;
      color: white;
      border-radius: 3px;
      align-self: end;
    }
  }
}
